a {
  color: orangered;
}
.video {
  width: 100%;
  height: 100%;
}
.card1 {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.3);
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 403px;
  left: 965px;
}
.Container1 {
  position: relative;
  min-height: 350px;
  max-height: 800px;
  overflow: hidden;
  /* margin-bottom: 500px; */
}

.btn:not(:disabled):not(.disabled) {
  color: orangered;
}
.text-primary {
  color: orangered !important;
}
body {
  background-color: beige;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.alert-light {
  background: var(--light-color);
  color: #333;
}
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
.item {
  display: flex;
}
